{
    "parser": "babel-eslint",
    "env": {
        "browser": true,
        "es6": true,
        "node": true
    },
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
          "legacyDecorators": true
        }
    },
    "extends": "airbnb-base",
    "rules": {
        "semi": [0],
        "import/no-extraneous-dependencies": [0],
        "indent": [1, 2],
        "no-unused-vars": [0],
        "react/jsx-filename-extension": [0],
        "class-methods-use-this": [0],
        "import/no-unresolved": [0],
        "lines-between-class-members": [0],
        "export @dec class": [0],
        "no-console": [0],
        "import/no-named-as-default-member": [0]
    }
}